body {
  margin: 0;
  font-family: Arial;
  background: radial-gradient(circle at top, #111, #000);
  color: white;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}